  <div class="page__content page__content--create">

  <div class="create-block lk">
      <p class="create-block__label create-block__label--bold lk__title">Персональные данные&nbsp;&nbsp;<span class="main-blocks__button"><img (click)="changeMode()" src="./../../../../assets/img/edit-icon.svg" alt=""></span></p>

      <div *ngIf="CurrentMode == Modes.view" class="lk__flex">
          <div class="lk__half">
              <!-- <div class="lk__data">
                  <p class="lk__field">Логин</p>
                  <p class="lk__value">klient@gmail.com</p>
              </div> -->
              <div class="lk__data">
                <p class="lk__field">Имя</p>
                <p class="lk__value">{{Profile.first_name}}</p>
              </div>
              <div class="lk__data">
                  <p class="lk__field">Фамилия</p>
                  <p class="lk__value">{{Profile.last_name}}</p>
              </div>
              <div *ngIf="Profile.second_name" class="lk__data">
                  <p class="lk__field">Отчество</p>
                  <p class="lk__value">{{Profile.second_name}}</p>
              </div>
              <div *ngIf="Profile.birth_day" class="lk__data">
                  <p class="lk__field">Дата рождения</p>
                  <p class="lk__value">{{Profile.birth_day}}</p>
              </div>
          </div>
          <div class="lk__half">
              <div *ngIf="Profile.loyalty_program_id" class="lk__data">
                  <p class="lk__field">Программа лояльности</p>
                  <p class="lk__value">{{Profile.loyalty_program_id}}</p>
              </div>
              <div *ngIf="Profile.card_number" class="lk__data">
                  <p class="lk__field">Номер карты</p>
                  <p class="lk__value">{{Profile.card_number}}</p>
              </div>
              <div *ngIf="Profile.email" class="lk__data">
                  <p class="lk__field">E-mail</p>
                  <p class="lk__value">{{Profile.email}}</p>
              </div>
              <div *ngIf="Profile.phone" class="lk__data">
                  <p class="lk__field">Номер телефона</p>
                  <p class="lk__value">{{Profile.phone|phoneShow}}</p>
              </div>
          </div>
      </div>

      <form *ngIf="CurrentMode == Modes.edit" [formGroup]="Form" (ngSubmit)="SaveProfile()" >
        <div class="lk__flex">
          <div class="lk__half">
              <div class="lk__data">
                  <p class="lk__field">Имя</p>
                  <input type="text" class="create-block__input create-block__input--full"
                    [ngClass]="{'auth-block__input--error': first_name.invalid && (first_name.dirty || first_name.touched)}"
                    autocomplete="null"
                    name="first_name"
                    formControlName="first_name">
                    <p class="auth-block__hint auth-block__hint--error">
                        <ng-container *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)">
                            <span *ngIf="first_name.errors['required']">Поле обязательно к заполнению.</span>
                        </ng-container>
                    </p>
              </div>
              <div class="lk__data">
                  <p class="lk__field">Фамилия</p>
                  <input type="text" class="create-block__input create-block__input--full"
                    [ngClass]="{'auth-block__input--error': last_name.invalid && (last_name.dirty || last_name.touched)}"
                    autocomplete="null"
                    name="last_name"
                    formControlName="last_name">
                    <p class="auth-block__hint auth-block__hint--error">
                        <ng-container *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                            <span *ngIf="last_name.errors['required']">Поле обязательно к заполнению.</span>
                        </ng-container>
                    </p>
              </div>
              <div class="lk__data">
                  <p class="lk__field">Отчество</p>
                  <p class="lk__field">Фамилия</p>
                  <input type="text" class="create-block__input create-block__input--full"
                    [ngClass]="{'auth-block__input--error': second_name.invalid && (second_name.dirty || second_name.touched)}"
                    autocomplete="null"
                    name="second_name"
                    formControlName="second_name">
                    <p class="auth-block__hint auth-block__hint--error">
                        <ng-container *ngIf="second_name.invalid && (second_name.dirty || second_name.touched)">
                            <span *ngIf="second_name.errors['required']">Поле обязательно к заполнению.</span>
                        </ng-container>
                    </p>
              </div>
              <div class="lk__data">
                  <p class="lk__field">Дата рождения</p>
                    <my-date-picker
                      name="birth_day"
                      [ngClass]="{'auth-block__input--error': birth_day.invalid && (birth_day.dirty || birth_day.touched)}"
                      formControlName="birth_day"
                      [options]="myDatePickerOptions"
                    ></my-date-picker>
                    <p class="auth-block__hint auth-block__hint--error" [ngStyle]="{'width': '142px'}">
                        <ng-container *ngIf="birth_day.invalid && (birth_day.dirty || birth_day.touched)">
                            <span *ngIf="birth_day.errors['required']">Поле обязательно к заполнению.</span>
                        </ng-container>
                    </p>
              </div>
          </div>
          <div class="lk__half">
              <div *ngIf="Profile.loyalty_program_id" class="lk__data">
                  <p class="lk__field">Программа лояльности</p>
                  <p class="lk__value">{{Profile.loyalty_program_id}}</p>
              </div>
              <div class="lk__data">
                  <p class="lk__field">Номер карты</p>
                  <input type="text" class="create-block__input create-block__input--full"
                  [ngClass]="{'auth-block__input--error': card_number.invalid && (card_number.dirty || card_number.touched)}"
                  autocomplete="null"
                  name="card_number"
                  formControlName="card_number">
                  <p class="auth-block__hint auth-block__hint--error">
                      <ng-container *ngIf="card_number.invalid && (card_number.dirty || card_number.touched)">
                          <span *ngIf="card_number.errors['required']">Поле обязательно к заполнению.</span>
                      </ng-container>
                  </p>
              </div>
              <div class="lk__data">
                  <p class="lk__field">E-mail</p>
                  <input type="text" class="create-block__input create-block__input--full"
                  [ngClass]="{'auth-block__input--error': email.invalid && (email.dirty || email.touched)}"
                  autocomplete="null"
                  name="email"
                  formControlName="email">
                  <p class="auth-block__hint auth-block__hint--error">
                      <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                          <span *ngIf="email.errors['required']">Поле обязательно к заполнению.</span>
                      </ng-container>
                  </p>
              </div>
              <div *ngIf="Profile.phone" class="lk__data">
                  <p class="lk__field">Номер телефона</p>
                  <p class="lk__value">{{Profile.phone|phoneShow}}</p>
              </div>
          </div>
        </div>
        <div class="text-center">
          <button class="button create-block__button">Сохранить</button>
        </div>
      </form>

  </div>

</div>


