<div class="page__content page__content--create">

    <div class="page__top page__top--create">
        <span class="page__back"><img src="assets/img/back.svg" alt="" (click)="GoBack()"></span>
        <h1 class="page__title page__title--create">{{Id == 'new' ? 'Создание' : 'Редактирование'}} уровня</h1>
    </div>

    <div class="create-block">
        <form [formGroup]="Form" (ngSubmit)="Save()">
        <p class="create-block__label">Название уровня</p>
        <!-- <input type="text" class="create-block__input create-block__input--full"> -->
        <input type="text" class="create-block__input create-block__input--full"
            [ngClass]="{'create-block__input--error': Form.controls.name.invalid && (Form.controls.name.dirty || Form.controls.name.touched)}"
            autocomplete="null"
            formControlName="name"
            placeholder="Введите название уровня"
            name="name"
        >
        <p class="auth-block__hint auth-block__hint--error">
            <ng-container *ngIf="Form.controls.name.invalid && (Form.controls.name.dirty || Form.controls.name.touched)">
                <span *ngIf="Form.controls.name.errors.required">Поле обязательно к заполнению.</span>
                <span *ngIf="Form.controls.name.errors.minlength">Минимальная длина 3 символа.</span>
                <span *ngIf="Form.controls.name.errors.maxlength">Максимальная длина 30 символов.</span>
            </ng-container>
        </p>

        <p class="create-block__label">Минимальная сумма активации уровня</p>
        <input type="text" class="create-block__input create-block__input--full"
            [ngClass]="{'create-block__input--error': Form.controls.min_price.invalid && (Form.controls.min_price.dirty || Form.controls.min_price.touched)}"
            autocomplete="null"
            formControlName="min_price"
            placeholder="Введите минимальную сумму активации уровня"
            name="min_price"
        >
        <p class="auth-block__hint auth-block__hint--error">
            <ng-container *ngIf="Form.controls.min_price.invalid && (Form.controls.min_price.dirty || Form.controls.min_price.touched)">
                <span *ngIf="Form.controls.min_price.errors.required">Поле обязательно к заполнению.</span>
                <span *ngIf="Form.controls.min_price.errors.min">Слишком маленькое значение.</span>
                <span *ngIf="Form.controls.min_price.errors.max">Слишком большое значение.</span>
            </ng-container>
        </p>

        <div class="create-block__group">
            <p class="create-block__label">Правило начисления бонусов</p>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='no_accrual' name="accrual_rule" formControlName="accrual_rule">
                <div class="radio__text">Не начисляются</div>
            </label>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='accrual_percent' name="accrual_rule" formControlName="accrual_rule">
                <div class="radio__text create-block__radio-with-input">
                    Начислять<span class="create-block__percent-input">
                        <input type="text"  formControlName="accrual_percent" name="accrual_percent" class="create-block__input create-block__input--small"
                        [ngClass]="{'create-block__input--error': Form.controls.accrual_percent.invalid && (Form.controls.accrual_percent.dirty || Form.controls.accrual_percent.touched)}"
                    >
                    </span>
                    от суммы покупки
                </div>
            </label>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='accrual_convert' name="accrual_rule" formControlName="accrual_rule">
                <div class="radio__text create-block__radio-with-input">
                    За
                    <input type="text" 
                        formControlName="accrual_money"  
                        name="accrual_money" 
                        class="create-block__input create-block__input--small"
                        [ngClass]="{'create-block__input--error': Form.controls.accrual_money.invalid && (Form.controls.accrual_money.dirty || Form.controls.accrual_money.touched)}"
                    >
                    рублей
                    <input type="text" formControlName="accrual_points" name="accrual_points" class="create-block__input create-block__input--small"
                        [ngClass]="{'create-block__input--error': Form.controls.accrual_points.invalid && (Form.controls.accrual_points.dirty || Form.controls.accrual_points.touched)}"
                    >
                    бонусов
                </div>
            </label>
        </div>

        <div class="create-block__group">
            <p class="create-block__label">Правило списания бонусов</p>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='no_write_off' name="write_off_rule" formControlName="write_off_rule">
                <div class="radio__text">Не использовать для оплаты покупок</div>
            </label>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='write_off_convert' name="write_off_rule" formControlName="write_off_rule">
                <div class="radio__text create-block__radio-with-input">
                    Оплачивать не более
                    <span class="create-block__percent-input">
                        <input type="text" formControlName="write_off_rule_percent" name="write_off_rule_percent" class="create-block__input create-block__input--small"
                        [ngClass]="{'create-block__input--error': Form.controls.write_off_rule_percent.invalid && (Form.controls.write_off_rule_percent.dirty || Form.controls.write_off_rule_percent.touched)}"
                        >
                    </span>
                    
                    от суммы покупки если на счету не менее
                    <input type="text" formControlName="write_off_rule_points" name="write_off_rule_points" class="create-block__input create-block__input--small"
                    [ngClass]="{'create-block__input--error': Form.controls.write_off_rule_points.invalid && (Form.controls.write_off_rule_points.dirty || Form.controls.write_off_rule_points.touched)}"
                    >
                    
                    бонусов
                </div>
            </label>
        </div>
        
        <div class="create-block__group">
            <p class="create-block__label">Правило сгорания бонусов</p>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='no_burning' name="burning_rule" formControlName="burning_rule">
                <div class="radio__text">Не сгорают</div>
            </label>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='burning_days' name="burning_rule" formControlName="burning_rule">
                <div class="radio__text create-block__radio-with-input">
                    Сгорают через
                    <input type="text" formControlName="burning_days" name="burning_days" class="create-block__input create-block__input--small"
                    [ngClass]="{'create-block__input--error': Form.controls.burning_days.invalid && (Form.controls.burning_days.dirty || Form.controls.burning_days.touched)}"
                    >
                    дней после начисления
                </div>
            </label>
        </div>
        
        <div class="create-block__group">
            <p class="create-block__label">Правило активации бонусов</p>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='activation_moment' name="activation_rule" formControlName="activation_rule">
                <div class="radio__text">С момента начисления</div>
            </label>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='activation_days' name="activation_rule" formControlName="activation_rule">
                <div class="radio__text create-block__radio-with-input">
                    Через
                    <input type="text" formControlName="activation_days" name="activation_days" class="create-block__input create-block__input--small"
                    [ngClass]="{'create-block__input--error': Form.controls.activation_days.invalid && (Form.controls.activation_days.dirty || Form.controls.activation_days.touched)}"
                    >
                    дней с момента начисления
                </div>
            </label>
        </div>

        <div class="create-block__group">
            <p class="create-block__label">Правило предоставления скидки</p>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='no_accordance' name="accordance_rule" formControlName="accordance_rule">
                <div class="radio__text">Не предоставляется</div>
            </label>
            <label class="radio radio--create">
                <input type="radio" class="radio__input" value='accordance_convert' name="accordance_rule" formControlName="accordance_rule">
                <div class="radio__text create-block__radio-with-input">
                    При накоплении более
                    <input type="text" formControlName="accordance_points" name="accordance_points" class="create-block__input create-block__input--small"
                    [ngClass]="{'create-block__input--error': Form.controls.accordance_points.invalid && (Form.controls.accordance_points.dirty || Form.controls.accordance_points.touched)}"
                    >
                    бонусов предоставить скидку в размере
                    <span class="create-block__percent-input">
                        <input type="text" formControlName="accordance_percent" name="accordance_percent" class="create-block__input create-block__input--small"
                        [ngClass]="{'create-block__input--error': Form.controls.accordance_percent.invalid && (Form.controls.accordance_percent.dirty || Form.controls.accordance_percent.touched)}"
                    >
                    </span>
                </div>
            </label>
        </div>
        
        <div class="create-block__group">
            <p class="create-block__label">Дополнительные настройки</p>
            <label class="radio radio--create">
                <input type="checkbox" class="radio__input" name="accrual_on_points" formControlName="accrual_on_points">
                <div class="radio__text">Начислять бонусы, если при оплате производится списание бонусов</div>
            </label>
        </div>
        
        <div class="text-center">
            <button type="submit" class="button create-block__button">Сохранить</button>
        </div>
        </form>
    </div>

</div>

<div class="modal modal--full " [ngClass]="{'modal--visible': LevelSaved}">
    <div class="modal__block modal__block--delete">
        <span class="modal__close"><img src="assets/img/close.svg" alt="" (click)="GoBack()"></span>

        <p class="modal__delete-text">Уровень сохранен</p>

        <div class="modal__buttons">
            <!-- <button class="button button--black modal__delete-button">Удалить</button> -->
            <button style="margin: auto" class="button modal__delete-button" (click)="GoBack()">ОК</button>
        </div>
    </div>
</div>
<div class="modal modal--full " [ngClass]="{'modal--visible': GetDataError}">
    <div class="modal__block modal__block--delete">
        <span class="modal__close"><img src="assets/img/close.svg" alt="" (click)="GoBack()"></span>

        <p class="modal__delete-text">Не удается найти уровень программы лояльности</p>

        <div class="modal__buttons">
            <!-- <button class="button button--black modal__delete-button">Удалить</button> -->
            <button style="margin: auto" class="button modal__delete-button" (click)="GoBack()">ОК</button>
        </div>
    </div>
</div>