<section class="page__content-wrap">
  <div class="page__content">

    <div class="page__top">
      <h1 class="page__title">Социальные сети</h1>
    </div>

    <div class="main-blocks">
      <div (click)="NavigateVk()"
           class="main-blocks__item social-media">
        <p class="main-blocks__title">ВКонтакте</p>

        <img class="social-media-logo"
             src="../../../../assets/img/vk-logo.png"
             style="width: 46px; height: 26px">
      </div>
      <!-- <div class="main-blocks__item social-media">
        <p class="main-blocks__title">Instagram</p>

        <img class="social-media-logo"
            src="../../../../assets/img/inst-logo.png"
            style="width: 37px; height: 37px">
      </div> -->
      <!-- <div [routerLink]="['/system','social_media', 'telegram']"
          class="main-blocks__item social-media">
        <p class="main-blocks__title">Телеграм</p>

        <img class="social-media-logo"
            src="../../../../assets/img/tg-logo.png"
            style="width: 40px; height: 40px">
      </div> -->
    </div>

  </div>
  <div *ngIf="ModalIsShown"
       class="modal modal--visible">
    <div class="modal__block modal__block--bonuses">
      <span class="modal__close"><img (click)="CloseModal()"
             src="./../../../../../assets/img/close.svg"></span>
      <div class="modal__customer-content modal__customer-content-bonuses-inside">
        <p class="bonuses-text text-center">Успешно сохранено</p>
      </div>
    </div>
  </div>
</section>
