<section class="login-bg">
  <div class="auth-block">
    <!-- <span class="auth-block__close auth-block__close--big_top"></span> -->

    <span class="auth-block__close" routerLink="../login"></span>

    <p class="auth-block__title auth-block__title--reset auth-block__title--line_height">{{IsSuccess ? 'Аккаунт успешно активирован!' : 'Код для подтверждения E-mail отправлен на почту'}}</p>
    <p *ngIf="!IsSuccess" class="auth-block__text">Пожалуйста, проверьте свой почтовый ящик</p>

    <form [formGroup]="Form"
          (ngSubmit)="Login()">

      <ng-container *ngIf="!IsSuccess">
        <input type="text"
          class="auth-block__input"
          [ngClass]="{'auth-block__input--error': email.invalid && (email.dirty || email.touched)}"
          autocomplete="null"
          formControlName="email"
          name="email"
          placeholder="E-mail">
        <p class="auth-block__hint auth-block__hint--error">
          <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">Поле обязательно к заполнению.</span>
            <span *ngIf="email.errors.ALREADY_TAKEN">E-mail занят.</span>
            <span *ngIf="email.errors.INVALID || email.errors.email">Введите корректный E-mail.</span>
          </ng-container>
        </p>

        <input type="text"
                class="auth-block__input"
                [ngClass]="{'auth-block__input--error': code.invalid && (code.dirty || code.touched)}"
                autocomplete="null"
                formControlName="code"
                name="code"
                placeholder="Код">
        <p class="auth-block__hint auth-block__hint--error">
          <ng-container *ngIf="code.invalid && (code.dirty || code.touched)">
            <span *ngIf="code.errors.required">Поле обязательно к заполнению.</span>
            <span *ngIf="code.errors.wrong">Неправильный код подтверждения.</span>
          </ng-container>
        </p>
      </ng-container>
      
      

      <div class="text-center">
        <button class="button auth-block__button"
                type="submit">{{IsSuccess ? 'Ок' : 'Подтвердить'}}</button>
      </div>
    </form>
  </div>
</section>
