<div class="create-block customer__block">
  <p class="create-block__label create-block__label--light">Введите ФИО покупателя</p>
  <input [ngModel]="SearchParams.name"
         (input)="onEditName($event.target.value)"
         type="text"
         class="customer__input customer__input--big">

  <p class="customer__or">Или</p>

  <p class="create-block__label create-block__label--light customer__label">Введите номер телефона покупателя</p>
  <input [ngModel]="SearchParams.phone"
         [textMask]="{mask: Mask, showMask: true}"
         (input)="onEditPhone($event.target.value)"
         type="text"
         class="customer__input customer__input--big">

  <p class="customer__or">Или</p>

  <p class="create-block__label create-block__label--light">Введите номер карты покупателя</p>
  <input [ngModel]="SearchParams.card_number"
         (input)="onEditCard($event.target.value)"
         type="text"
         class="customer__input customer__input--big">

  <button (click)="onSearchClientButtonClick()"
          class="button customer__button">Поиск</button>

  <ng-container *ngIf="Clients.length">
    <p class="customer__or">Нужно выбрать пользователя</p>
    <div class="main-blocks"
         id="shop-blocks">
      <app-client-preloader [IsLoading]="isSearching"></app-client-preloader>
      <ng-container *ngIf="!isSearching">
        <div *ngFor="let item of Clients"
             (click)="SelectUser(item)"
             class="main-blocks__item main-blocks__item--shop"
             [ngClass]="{'main-blocks__item--create': item.id == SelectedClient.id}">
          <div class="main-blocks__item-absolute">
            <div class="main-blocks__with-buttons">
              <p class="main-blocks__title main-blocks__title--shop">{{item.last_name}} {{item.first_name}}
                {{item.second_name}}</p>
            </div>
            <p class="main-blocks__description main-blocks__description--shop">Кол-во баллов:
              {{item.points?item.points/100:0}}</p>
            <p class="main-blocks__description main-blocks__description--shop">{{item.birth_day}}</p>
            <p class="main-blocks__description main-blocks__description--shop">{{item.phone|phoneShow}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <p *ngIf="!Clients.length"
     class="customer__or">Нет результатов поиска.</p>

  <button [disabled]="!SelectedClient.id"
          [routerLink]="['../loyality']"
          class="button customer__button">Далее</button>
</div>
