<div class="page__content">

    <div class="page__top">
        <h1 class="page__title">Кассиры</h1>
        <div class="page__search">
            <input type="text" [ngModel]="QueryString" (ngModelChange)="UpdateOperators($event)" placeholder="Поиск по кассирам">
        </div>
    </div>

    <div class="main-blocks">
        <div class="main-blocks__item main-blocks__item--create" [routerLink]="['/system','my_cashiers', 'create']">
            <img src="assets/img/plus.png" alt="">
            <span>Создать нового кассира</span>
        </div>
        <div class="main-blocks__item" *ngFor="let item of Operators">
            <p class="main-blocks__title main-blocks__title--cashier">{{item.first_name + " " + (item.second_name ? item.second_name + " " : "") + item.last_name}}</p>

            <p class="main-blocks__description">
                <!-- Название магазина<br> -->
                E-mail: {{item.email}}
                <ng-container *ngIf="item.operator_status == 'deleted'">
                    <br><span style="color: red">Удален</span>
                </ng-container>
            </p>

            <a [routerLink]="['/system','my_cashiers', 'edit', item.id]" class="main-blocks__link main-blocks__link--yellow main-blocks__link--edit">Редактировать</a>
            <ng-container *ngIf="item.operator_status != 'deleted'">
                <a (click)="DeleteOperator(item)" class="main-blocks__link main-blocks__link--yellow main-blocks__link--delete main-blocks__link--delete_yellow">Удалить</a>
            </ng-container>
            </div>
    </div>

</div>