<section class="page__content-wrap">
    <div class="page__content page__content--create">

        <div class="page__top page__top--create">
            <span class="page__back"><img src="./../../../../../assets/img/back.svg"
             (click)="GoBack()"></span>
            <h1 class="page__title page__title--customer_small">Информация о покупателе</h1>
        </div>

        <div class="create-block customer__block customer__block--small">
            <p class="create-block__label create-block__label--light customer__label">
                Количество бонусов:                
            </p>
            <input type="number" class="create-block__input create-block__input--medium no-margin-left" (input)="SetPointsValue($event.target.value)">
            <div class="customer__flex-buttons">
                <button [disabled]="!canSubmit" (click)="Nachislenie=true" class="button customer__button">Начислить</button>
                <button [disabled]="!canSubmit" (click)="ChargeOffBonuses()" class="button customer__button button--black">Списать</button>
            </div>
            <ng-container *ngIf="Nachislenie">
                <div class="create-block__group">
                    <p class="create-block__label">Срок действия</p>

                    <div class="create-block__flex">
                        <div class="create-block__half">
                            Дата начисления
                            <my-date-picker name="begin_date" [options]="myDatePickerOptions" [(ngModel)]="begin_date"></my-date-picker>
                        </div>
                        <div class="create-block__half">
                            Дата сгорания
                            <my-date-picker name="end_date" [options]="myDatePickerOptions" [(ngModel)]="end_date"></my-date-picker>
                        </div>
                    </div>
                </div>
                <div class="customer__flex-buttons">
                    <button [disabled]="!canSubmit" (click)="AddBonuses()" class="button customer__button">Подтвердить</button>
                </div>
            </ng-container>

        </div>
    </div>

    <div *ngIf="SuccessModalIsShown" class="modal modal--visible">
        <div class="modal__block modal__block--bonuses">
            <span class="modal__close"><img (click)="onCloseSuccessModal()"
             src="./../../../../../assets/img/close.svg"></span>
            <div class="modal__customer-content modal__customer-content-bonuses-inside">
                <p class="bonuses-text">Пользователь: {{ClientSuccess.name}}</p>
                <p class="bonuses-text">{{ClientSuccess.diffPoints}}</p>
                <p class="bonuses-text">Текущий баланс: {{ClientSuccess.currentPoints}}</p>
            </div>
        </div>
    </div>
</section>