<div class="page__content page__content--create">

    <div class="page__top page__top--create">
        <span class="page__back"><img (click)="GoBack()" src="./../../../../../assets/img/back.svg" alt=""></span>
        <h1 class="page__title page__title--create">Создание нового покупателя</h1>
    </div>


    <form [formGroup]="Form" (ngSubmit)="Save()" class="create-block customer__block">
        <p class="create-block__label create-block__label--bold">Введите данные покупателя</p>

        <p class="create-block__label create-block__label--light">Имя</p>
        <input type="text" class="create-block__input create-block__input--full"
          [ngClass]="{'auth-block__input--error': name.invalid && (name.dirty || name.touched)}"
          autocomplete="null"
          name="name"
          formControlName="name"
        >

        <p class="create-block__label create-block__label--light">Фамилия</p>
        <input type="text" class="create-block__input create-block__input--full">

        <p class="create-block__label create-block__label--light">Отчество</p>
        <input type="text" class="create-block__input create-block__input--full">

        <p class="create-block__label create-block__label--light">Номер телефона</p>
        <input type="text" class="create-block__input create-block__input--full">

        <div class="customer__flex">
            <div class="customer__part">
                <p class="create-block__label create-block__label--light">Дата рождения</p>
                <span class="create-block__date-input customer__date"><input type="text" class="create-block__input create-block__input--date"></span>
            </div>
            <div class="customer__part">
                <p class="create-block__label create-block__label--light">Дата регистрации</p>
                <span class="create-block__date-input customer__date"><input type="text" class="create-block__input create-block__input--date"></span>
            </div>
            <div class="customer__part">
                <p class="create-block__label create-block__label--light">Пол</p>

                <div class="auth-block__choice">
                    <label class="radio">
                        <input type="radio" class="radio__input" name="userType" checked>
                        <div class="radio__text">Женский</div>
                    </label>
                    <label class="radio">
                        <input type="radio" class="radio__input" name="userType">
                        <div class="radio__text">Мужской</div>
                    </label>
                </div>
            </div>
        </div>

        <p class="create-block__label create-block__label--light">Выбрать программу лояльности:</p>

        <div class="create-block__select" [ngClass]="{'create-block__select--opened': ShowSelect}">
            <div class="create-block__select-value" (click)="ShowSelect = !ShowSelect">{{SelectedStore ? SelectedStore.name: 'Программа лояльности'}}</div>
            <ul class="create-block__select-list">
                <ng-container *ngFor="let item of LoalityProgramm">
                    <li (click)="OnSelected(item)">{{item.name}}</li>
                </ng-container>
            </ul>
        </div>

        <div class="customer__flex">
            <div class="customer__part">
                <p class="create-block__label create-block__label--light">Сумма покупки</p>
                <input type="text" class="create-block__input create-block__input--full customer__input--sum">
            </div>
            <div class="customer__part customer__part--bottom">
                <label class="checkbox">
                    <input type="checkbox" class="checkbox__input" checked>
                    <div class="checkbox__text">По рекомендации</div>
                </label>
            </div>
        </div>

        <p class="create-block__label create-block__label--light">Номер телефона рекомендовавшего:</p>
        <input type="text" class="create-block__input create-block__input--full">

        <label class="checkbox">
            <input type="checkbox" class="checkbox__input" checked>
            <div class="checkbox__text">Отправить пароль от личного кабинета покупателя СМС-сообщением</div>
        </label>

        <div class="text-center">
            <button class="button create-block__button">Сохранить</button>
        </div>
    </form>

</div>
