<div class="page__content page__content--create">

  <div class="page__top page__top--create">
    <span class="page__back"><img (click)="GoBack()"
           src="./../../../../../assets/img/back.svg"
           alt=""></span>
    <h1 class="page__title page__title--create">Создание нового покупателя</h1>
  </div>

  <form [formGroup]="Form"
        (ngSubmit)="Save()"
        class="create-block customer__block">
    <p class="create-block__label create-block__label--bold">Введите данные покупателя</p>

    <p class="create-block__label create-block__label--light">Имя</p>
    <input type="text"
           class="create-block__input create-block__input--full"
           [ngClass]="{'auth-block__input--error': first_name.invalid && (first_name.dirty || first_name.touched)}"
           autocomplete="null"
           name="first_name"
           formControlName="first_name">
    <p class="auth-block__hint auth-block__hint--error">
      <ng-container *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)">
        <span *ngIf="first_name.errors['required']">Поле обязательно к заполнению.</span>
      </ng-container>
    </p>

    <p class="create-block__label create-block__label--light">Фамилия</p>
    <input type="text"
           class="create-block__input create-block__input--full"
           [ngClass]="{'auth-block__input--error': last_name.invalid && (last_name.dirty || last_name.touched)}"
           autocomplete="null"
           name="last_name"
           formControlName="last_name">
    <p class="auth-block__hint auth-block__hint--error">
      <ng-container *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
        <span *ngIf="last_name.errors['required']">Поле обязательно к заполнению.</span>
      </ng-container>
    </p>

    <p class="create-block__label create-block__label--light">Отчество</p>
    <input type="text"
           class="create-block__input create-block__input--full"
           [ngClass]="{'auth-block__input--error': second_name.invalid && (second_name.dirty || second_name.touched)}"
           autocomplete="null"
           name="second_name"
           formControlName="second_name">

    <p class="create-block__label create-block__label--light">Электронный адрес</p>
    <input type="text"
           class="create-block__input create-block__input--full"
           [ngClass]="{'auth-block__input--error': email.invalid && (email.dirty || email.touched)}"
           autocomplete="null"
           name="email"
           formControlName="email">
    <p class="auth-block__hint auth-block__hint--error">
      <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors['required']">Поле обязательно к заполнению.</span>
      </ng-container>
    </p>

    <p class="create-block__label create-block__label--light">Номер карты</p>
    <input type="text"
           class="create-block__input create-block__input--full"
           [ngClass]="{'auth-block__input--error': card_number.invalid && (card_number.dirty || card_number.touched)}"
           autocomplete="null"
           name="card_number"
           formControlName="card_number">

    <div class="customer__flex">
      <div class="customer__part">
        <p class="create-block__label create-block__label--light">Дата рождения</p>
        <my-date-picker name="birth_day"
                        [ngClass]="{'auth-block__input--error': birth_day.invalid && (birth_day.dirty || birth_day.touched)}"
                        formControlName="birth_day"
                        [options]="myDatePickerOptions"></my-date-picker>
        <p class="auth-block__hint auth-block__hint--error"
           [ngStyle]="{'width': '142px'}">
          <ng-container *ngIf="birth_day.invalid && (birth_day.dirty || birth_day.touched)">
            <span *ngIf="birth_day.errors['required']">Поле обязательно к заполнению.</span>
          </ng-container>
        </p>
      </div>
      <!-- <div class="customer__part">
                <p class="create-block__label create-block__label--light">Дата регистрации</p>
                <span class="create-block__date-input customer__date"><input type="text" class="create-block__input create-block__input--date"></span>
            </div> -->
      <div class="customer__part">
        <p class="create-block__label create-block__label--light">Пол</p>

        <div class="auth-block__choice">
          <label class="radio">
            <input type="radio"
                   class="radio__input"
                   value="female"
                   name="gender"
                   formControlName="gender"
                   checked>
            <div class="radio__text">Женский</div>
          </label>
          <label class="radio">
            <input type="radio"
                   class="radio__input"
                   value="male"
                   formControlName="gender"
                   name="gender">
            <div class="radio__text">Мужской</div>
          </label>
        </div>
      </div>
    </div>

    <p class="create-block__label create-block__label--light">Выбрать программу лояльности:</p>

    <div class="create-block__select"
         [ngClass]="{'create-block__select--opened': ShowSelect}">
      <div class="create-block__select-value"
           (click)="ShowSelect = !ShowSelect">{{SelectedLoyality ? SelectedLoyality.name: 'Программа лояльности'}}</div>
      <ul class="create-block__select-list">
        <li (click)="OnSelected(null)">Программа лояльности</li>
        <ng-container *ngFor="let item of PromotionsProgramm">
          <li (click)="OnSelected(item)">{{item.name}}</li>
        </ng-container>
      </ul>
    </div>

    <div class="customer__flex">
      <div class="customer__part">
        <p class="create-block__label create-block__label--light">Сумма покупки</p>
        <input [(ngModel)]="OrderPrice"
               [ngModelOptions]="{standalone: true}"
               type="text"
               class="create-block__input create-block__input--full customer__input--sum">
      </div>
      <div class="customer__part customer__part--bottom">
        <label class="checkbox">
          <input (change)="Recommendation.isTrue = !Recommendation.isTrue"
                 type="checkbox"
                 class="checkbox__input">
          <div class="checkbox__text">По рекомендации</div>
        </label>
      </div>
    </div>

    <ng-container *ngIf="Recommendation.isTrue">
      <p class="create-block__label create-block__label--light">Номер телефона рекомендовавшего:</p>
      <input type="text"
             class="create-block__input create-block__input--full">
    </ng-container>

    <!-- <label class="checkbox">
            <input type="checkbox" class="checkbox__input" checked>
            <div class="checkbox__text">Отправить пароль от личного кабинета покупателя СМС-сообщением</div>
        </label> -->

    <div class="text-center">
      <button class="button create-block__button">Сохранить</button>
    </div>
  </form>

</div>

<div *ngIf="isShowSuccessModal"
     class="modal modal--visible">
  <div class="modal__block modal__block--customer">
    <span class="modal__close"><img (click)="onCloseSuccessModal()"
           src="./../../../../../assets/img/close.svg"
           alt=""></span>

    <div class="modal__customer-content">
      <p class="customer__created-title">Покупатель успешно зарегистрирован!</p>

      <p class="customer__created-text">Пароль от личного кабинета<br>отправлен на E-mail!</p>

      <p style="margin-top: 12px; text-align: justify;"
         class="main-blocks__description">
        Примечание. Если электронный адрес, указанный при создании покупателя, совпадает с электронным адресом Владельца
        или Кассира, то для входа в аккаунт Покупателя используйте такой же пароль, как и для входа в аккаунт Владельца
        или Кассира, выбрав соответствующую роль при авторизации.</p>
    </div>
  </div>
</div>
