<section class="page__content-wrap">
  <div class="page__content">

    <div class="page__top">
      <h1 class="page__title">Начисление и списание бонусов</h1>
    </div>
    <div class="search-customer">
      <input type="text"
             [(ngModel)]="userSearchData"
             placeholder="Введите ФИО или номер карты">
      <button (click)="FilterClients()"
              class="search-customer-button">Найти</button>
    </div>

    <div class="main-blocks">
      <div *ngFor="let client of Clients;"
           style="cursor: pointer;"
           (click)="NavigateWithData(client)"
           class="main-blocks__item">
        <p class="main-blocks__title">{{client.full_name ? client.full_name : ""}}</p>
        <span class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: {{client.points / 100}}</span>
        <span class="main-blocks__link main-blocks__link--left">Номер карты: {{client.card_number}}</span>
        <span class="main-blocks__link main-blocks__link--left">Номер телефона: {{client.phone}}</span>
      </div>
    </div>

  </div>
</section>
