<section class="page__content-wrap">
   <div class="page__content">

      <div class="page__top">
         <h1 class="page__title">Начисление и списание бонусов</h1>
      </div>
      <div class="search-customer">
         <input type="text"
                placeholder="Введите ФИО или номер карты">
         <button class="search-customer-button">Найти</button>
      </div>

      <div class="main-blocks">
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>
            <a [routerLink]="['/system','bonus_management', 'edit', 1]"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
         <div class="main-blocks__item">
            <p class="main-blocks__title">Иван Иванович Иванов</p>

            <a href="#"
               class="main-blocks__link main-blocks__link--left">Всего бонусов на счету: 20 000</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер карты</a>
            <a href="#"
               class="main-blocks__link main-blocks__link--left">Номер телефона</a>
         </div>
      </div>

   </div>
</section>
