
            <section class="page__content-wrap">
              <div class="page__content page__content--create">

              <div class="create-block lk">
                  <p class="create-block__label create-block__label--bold lk__title">Программа лояльности</p>

                  <p class="lk__text lk__text--small_margin"><strong>Ваша программа лояльности:</strong> {{LoyaltyProgram.name}}</p>
                  <p class="lk__text lk__text--small_margin"><strong>Активные бонусы на {{Today | date: 'dd.MM.yyyy'}}:</strong> {{Client.points / 100}}</p>
                  <p *ngIf="LoyaltyProgram.accrual_on_recommend" class="lk__text">Условия акции приведи друга: {{LoyaltyProgram.recommend_recommendator_points}}</p>
                  <!-- <p class="lk__text">Условия акции в честь дня рождения: </p> -->
                  <p *ngIf="LoyaltyProgram.write_off_min_price" class="lk__text">Минимальная сумма покупки для списания бонусов: {{LoyaltyProgram.write_off_min_price}}</p>
                  
                  <div class="lk__card">
                      <p class="lk__programm">{{LoyaltyProgram.name}}</p>
                      <p class="lk__conditions"></p>
                      <p class="lk__num">{{Client.card_number}}</p>
                  </div>

                  <!-- TODO -->
                  <!-- Необходимо получать информацию о всех уровнях программы лояльности :
                    Название
                    Условия активации уровня
                    Правило начисления
                    Правило активации бонусов
                    Правило сгорания
                    Правило списания
                    Правило предоставления скидки -->

              </div>

          </div>
          </section>

