
            <section class="page__content-wrap">
              <div class="page__content page__content--create">

              <div class="create-block lk">
                  <p class="create-block__label create-block__label--bold lk__title">Мои бонусы</p>

                  <p class="lk__text">Программа лояльности: <strong>Название 1</strong></p>
                  <p class="lk__text">Активные бонусы на 01.01.2019: <strong>5000</strong></p>
              </div>

              <div class="report-make__table lk__table">
                  <div class="report-make__row report-make__row--head">
                      <div class="report-make__cell">Дата покупки</div>
                      <div class="report-make__cell">Название магазина</div>
                      <div class="report-make__cell">Общая сумма</div>
                      <div class="report-make__cell">Программа лояльности/Акция</div>
                      <div class="report-make__cell">Оплата бонусами</div>
                      <div class="report-make__cell">ИТОГО к оплате с учетом бонусов</div>
                      <div class="report-make__cell">Остаток бонусов</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
                  <div class="report-make__row">
                      <div class="report-make__cell">01.01.2019</div>
                      <div class="report-make__cell">Магазин 1</div>
                      <div class="report-make__cell">5000 ₽</div>
                      <div class="report-make__cell">Название 1</div>
                      <div class="report-make__cell">200</div>
                      <div class="report-make__cell">4800 ₽</div>
                      <div class="report-make__cell">1000</div>
                  </div>
              </div>

              </div>
          </section>

