<!-- <section class="page__content-wrap"> -->
    <div class="page__content page__content--levels">

        <div class="page__top">
            <h1 class="page__title">Уровни</h1>
            <form [formGroup]="Form" (ngSubmit)="Save()">
                <div class="create-block__edit">
                    <p class="create-block__label">Название программы лояльности</p>
                    <input type="text" class="create-block__input create-block__input--full"
                        [ngClass]="{'create-block__input--error': Form.controls.name.invalid && (Form.controls.name.dirty || Form.controls.name.touched)}"
                        autocomplete="null"
                        formControlName="name"
                        placeholder="Введите название программы лояльности"
                        name="name"
                    >
                    <p class="auth-block__hint auth-block__hint--error">
                        <ng-container *ngIf="Form.controls.name.invalid && (Form.controls.name.dirty || Form.controls.name.touched)">
                            <span *ngIf="Form.controls.name.errors.required">Поле обязательно к заполнению.</span>
                            <span *ngIf="Form.controls.name.errors.minlength">Минимальная длина 3 символа.</span>
                            <span *ngIf="Form.controls.name.errors.maxlength">Максимальная длина 30 символов.</span>
                        </ng-container>
                    </p>
                </div>
                <div class="page__top-checks">
                    <span class="page__top-checks-text">Правило активации уровней:</span>
                    <label class="radio">
                        <input type="radio" class="radio__input"  value='one_buy' name="sum_type" formControlName="sum_type">
                        <div class="radio__text">Разовая покупка</div>
                    </label>
                    <label class="radio">
                        <input type="radio" class="radio__input"  value='sum_buy' name="sum_type" formControlName="sum_type">
                        <div class="radio__text">Общая сумма покупок</div>
                    </label>
                </div>
                <button class="page__top-button" type="submit">Сохранить</button>
            </form>
        </div>
    
        <div class="main-blocks main-blocks--levels" >
            <div class="main-blocks__item main-blocks__item--create" (click)="CreateNewLevel()">
                <img src="assets/img/plus.png" alt="">
                <span>Создать новый уровень</span>
            </div>
            <div class="main-blocks__item" *ngFor="let item of Levels">
                <p class="main-blocks__title">{{item.name ? item.name : ('Уровень ' + item.id)}}</p>
    
                <p class="main-blocks__pre-link">{{Loyalty.sum_type == 'one_buy' ? 'Разовая покупка' : 'Общая сумма покупок'}} от {{item.min_price / 100}} рублей</p>
                <a [routerLink]="['/system','my_loyalty_program','level', item.id]" class="main-blocks__link main-blocks__link--edit_black">Редактировать</a>
                <a class="main-blocks__link main-blocks__link--delete" (click)="LevelForDelete = item;ShowModal = true">Удалить</a>
            </div>
        </div>
    
    </div>
<!-- </section> -->


<div class="modal modal--full " [ngClass]="{'modal--visible': ShowModal}">
    <div class="modal__block modal__block--delete">
        <span class="modal__close"><img src="assets/img/close.svg" alt="" (click)="ShowModal = false"></span>

        <p class="modal__delete-text">Удалить уровень «{{LevelForDelete.name ? LevelForDelete.name : ('Уровень ' + LevelForDelete.id)}}»?</p>

        <div class="modal__buttons">
            <button class="button button--black modal__delete-button" (click)="DeleteLevel()">Удалить</button>
            <button class="button modal__delete-button" (click)="ShowModal = false">Отмена</button>
        </div>
    </div>
</div>

<div class="modal modal--full " [ngClass]="{'modal--visible': ProgramSaved}">
    <div class="modal__block modal__block--delete">
        <span class="modal__close"><img src="assets/img/close.svg" alt="" (click)="ProgramSaved = false"></span>

        <p class="modal__delete-text">Программа лояльности сохранена</p>

        <div class="modal__buttons">
            <!-- <button class="button button--black modal__delete-button">Удалить</button> -->
            <button style="margin: auto" class="button modal__delete-button" (click)="ProgramSaved = false">ОК</button>
        </div>
    </div>
</div>

<div class="modal modal--full " [ngClass]="{'modal--visible': ProgramDoesNotExists}">
    <div class="modal__block modal__block--delete">
        <span class="modal__close"><img src="assets/img/close.svg" alt="" (click)="ProgramDoesNotExists = false"></span>

        <p class="modal__delete-text">Создайте программу лояльности!</p>

        <div class="modal__buttons">
            <!-- <button class="button button--black modal__delete-button">Удалить</button> -->
            <button style="margin: auto" class="button modal__delete-button" (click)="ProgramDoesNotExists = false">ОК</button>
        </div>
    </div>
</div>

<div class="modal modal--full " [ngClass]="{'modal--visible': DeleteSuccess}">
    <div class="modal__block modal__block--delete">
        <span class="modal__close"><img src="assets/img/close.svg" alt="" (click)="DeleteSuccess = false"></span>

        <p class="modal__delete-text">Уровень успешно удален!</p>

        <div class="modal__buttons">
            <!-- <button class="button button--black modal__delete-button">Удалить</button> -->
            <button style="margin: auto" class="button modal__delete-button" (click)="DeleteSuccess = false">ОК</button>
        </div>
    </div>
</div>



