<div class="preloader" [ngClass]="{'preloader--visible': IsLoading}">
  <svg viewBox="0 0 166 166" class="preloader__svg">
      <symbol id="s-circle">
          <circle r="14" cx="14" cy="14"></circle>
      </symbol>
      <g id="circle" class="preloader__circles">
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
          <g class="preloader__circle">
              <use xlink:href="#s-circle" class="preloader__inner-circle"/>
          </g>
      </g>
  </svg>
</div>

<div *ngIf="!IsLoading" class="page__content page__content--create">
    <div class="page__top page__top--create">
        <span class="page__back"><img (click)="GoBack()" src="./../../../../../assets/img/back.svg" alt=""></span>
    </div>
    <div class="create-block customer__block">
        <p class="create-block__label create-block__label--light">Подтвердить код ({{Phone|phoneShow}})</p>
        <input [(ngModel)]="Code" type="text" class="customer__input customer__input--code">

        <p class="auth-block__hint auth-block__hint--error" *ngIf="hasError">Ошибка</p>
        <button (click)="ConfirmCode()" class="button customer__button">Подтвердить</button>

    </div>
</div>
