<!-- <div>

    Is loading {{IsLoading | async}}
</div> -->

<div class="preloader" [ngClass]="{'preloader--visible': IsLoading}">
    <svg viewBox="0 0 166 166" class="preloader__svg">
        <symbol id="s-circle">
            <circle r="14" cx="14" cy="14"></circle>
        </symbol>
        <g id="circle" class="preloader__circles">
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
            <g class="preloader__circle">
                <use xlink:href="#s-circle" class="preloader__inner-circle"/>
            </g>
        </g>
    </svg>
</div>
<router-outlet></router-outlet>
