<div class="page__content page__content--create">

    <div class="page__top page__top--create">
        <span class="page__back"  (click)="GoBack()"><img src="assets/img/back.svg" alt=""></span>
        <h1 class="page__title page__title--create">{{Mode == 'create' ? 'Создание нового' : 'Изменение'}} магазина</h1>
    </div>

    <div class="create-block">
        <p class="create-block__label create-block__label--bold">Введите данные о магазине</p>
        <form   [formGroup]="Form" (ngSubmit)="Save()">
            <p class="create-block__label create-block__label--light">Название</p>
            <input type="text" class="create-block__input create-block__input--full"
                [ngClass]="{'auth-block__input--error': name.invalid && (name.dirty || name.touched)}"
                autocomplete="null"
                formControlName="name"
                name="name"
            >
            <p class="auth-block__hint auth-block__hint--error">
                <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span *ngIf="name.errors.required">Поле обязательно к заполнению.</span>
                    <span *ngIf="name.errors.minlength">Минимальная длина 3 символа.</span>
                    <span *ngIf="name.errors.maxlength">Максимальная длина 30 символов.</span>
                    <span *ngIf="name.errors.ALREADY_TAKEN">Название занято.</span>
                </ng-container>
            </p>


            <p class="create-block__label create-block__label--light">Страна</p>
            <input type="text" class="create-block__input create-block__input--full"
                [ngClass]="{'auth-block__input--error': country.invalid && (country.dirty || country.touched)}"
                autocomplete="null"
                formControlName="country"
                name="country"
            >
            <p class="auth-block__hint auth-block__hint--error">
                <ng-container *ngIf="country.invalid && (country.dirty || country.touched)">
                    <span *ngIf="country.errors.required">Поле обязательно к заполнению.</span>
                    <span *ngIf="country.errors.minlength">Минимальная длина 3 символа.</span>
                    <span *ngIf="country.errors.maxlength">Максимальная длина 30 символов.</span>
                </ng-container>
            </p>

            <p class="create-block__label create-block__label--light">Город</p>
            <input type="text" class="create-block__input create-block__input--full"
                [ngClass]="{'auth-block__input--error': city.invalid && (city.dirty || city.touched)}"
                autocomplete="null"
                formControlName="city"
                name="city"
            >
            <p class="auth-block__hint auth-block__hint--error">
                <ng-container *ngIf="city.invalid && (city.dirty || city.touched)">
                    <span *ngIf="city.errors.required">Поле обязательно к заполнению.</span>
                    <span *ngIf="city.errors.minlength">Минимальная длина 3 символа.</span>
                    <span *ngIf="city.errors.maxlength">Максимальная длина 30 символов.</span>
                </ng-container>
            </p>

            <p class="create-block__label create-block__label--light">Улица</p>
            <input type="text" class="create-block__input create-block__input--full"
                [ngClass]="{'auth-block__input--error': street.invalid && (street.dirty || street.touched)}"
                autocomplete="null"
                formControlName="street"
                name="street"
            >
            <p class="auth-block__hint auth-block__hint--error">
                <ng-container *ngIf="street.invalid && (street.dirty || street.touched)">
                    <span *ngIf="street.errors.required">Поле обязательно к заполнению.</span>
                    <span *ngIf="street.errors.minlength">Минимальная длина 3 символа.</span>
                    <span *ngIf="street.errors.maxlength">Максимальная длина 30 символов.</span>
                </ng-container>
            </p>

            <p class="create-block__label create-block__label--light">Дом</p>
            <input type="text" class="create-block__input create-block__input--full"
                [ngClass]="{'auth-block__input--error': house.invalid && (house.dirty || house.touched)}"
                autocomplete="null"
                formControlName="house"
                name="house"
            >
            <p class="auth-block__hint auth-block__hint--error">
                <ng-container *ngIf="house.invalid && (house.dirty || house.touched)">
                    <span *ngIf="house.errors.required">Поле обязательно к заполнению.</span>
                    <span *ngIf="house.errors.min">Минимальное значение 1.</span>
                    <span *ngIf="house.errors.max">Максимальное значение 9999.</span>
                </ng-container>
            </p>
    
            <div class="text-center">
                <button type="submit" class="button create-block__button">Сохранить</button>
            </div>
        </form>
    </div>

</div>