<section class="login-bg">
    <div class="auth-block auth-block--reset" *ngIf="!IsSendSuccess">
        <span class="auth-block__close" routerLink="../login"></span>

        <p class="auth-block__title auth-block__title--reset">Забыли пароль?</p>
        <form [formGroup]="Form" (ngSubmit)="ResetPw()">
            <input type="text" 
                class="auth-block__input"
                [ngClass]="{'auth-block__input--error': email.invalid && (email.dirty || email.touched)}"
                autocomplete="null"
                formControlName="email"
                name="email"
                placeholder="E-mail"
            >
            <p class="auth-block__hint auth-block__hint--error">
                <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                    <span *ngIf="email.errors.required">Поле обязательно к заполнению.</span>
                    <span *ngIf="email.errors.minlength">Минимальная длина фамилии 3 символа.</span>
                    <span *ngIf="email.errors.maxlength">Максимальная длина фамилии 50 символов.</span>
                    <span *ngIf="email.errors.ALREADY_TAKEN">E-mail занят.</span>
                    <span *ngIf="email.errors.INVALID || email.errors.email">Введите корректный E-mail.</span>
                </ng-container>
            </p>

            <div class="text-center">
                <button class="button auth-block__button" type="submit">Отправить пароль</button>
            </div>
        </form>
        
    </div>
    <div class="auth-block auth-block--reset2" *ngIf="IsSendSuccess">
        <span class="auth-block__close" routerLink="../login"></span>

        <p class="auth-block__title auth-block__title--reset">Пароль был выслан на почту</p>
        <p class="auth-block__text">Пожалуйста, проверьте свой почтовый ящик</p>

        <div class="text-center">
            <button routerLink="../login" class="button button--white auth-block__button auth-block__button--reg">Войти</button>
            <button routerLink="../signup" class="button auth-block__button auth-block__button--reg">Зарегистрироваться</button>
        </div>
    </div>
</section>