<section class="login-bg">
  <div class="auth-block auth-block--reset"
       *ngIf="ShowMailForm || ShowPasswordForm">
    <span class="auth-block__close"
          routerLink="../login"></span>

    <p class="auth-block__title auth-block__title--reset">Забыли пароль?</p>
    <form *ngIf="ShowMailForm" [formGroup]="Form"
          (ngSubmit)="ResetPw()">
      <input type="text"
             class="auth-block__input"
             [ngClass]="{'auth-block__input--error': email.invalid && (email.dirty || email.touched)}"
             autocomplete="null"
             formControlName="email"
             name="email"
             placeholder="E-mail">
      <p class="auth-block__hint auth-block__hint--error">
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors.required">Поле обязательно к заполнению.</span>
          <span *ngIf="email.errors.ALREADY_TAKEN">E-mail занят.</span>
          <span *ngIf="email.errors.INVALID || email.errors.email">Введите корректный E-mail.</span>
        </ng-container>
      </p>

      <div class="text-center">
        <button [disabled]="DisableResetPwButton" class="button auth-block__button"
                type="submit">Восстановить пароль</button>
      </div>
    </form>

    <form *ngIf="ShowPasswordForm" [formGroup]="NewPasswordForm" (ngSubmit)="SetNewPassword()">
      <input type="text"
             class="auth-block__input"
             [ngClass]="{'auth-block__input--error': NewPasswordForm.controls.email.invalid && (NewPasswordForm.controls.email.dirty || NewPasswordForm.controls.email.touched)}"
             autocomplete="null"
             formControlName="email"
             name="email"
             placeholder="E-mail"
             disabled
             >
      <p class="auth-block__hint auth-block__hint--error">
        <ng-container *ngIf="NewPasswordForm.controls.email.invalid && (NewPasswordForm.controls.email.dirty || NewPasswordForm.controls.email.touched)">
          <span *ngIf="NewPasswordForm.controls.email.errors.required">Поле обязательно к заполнению.</span>
          <span *ngIf="NewPasswordForm.controls.email.errors.ALREADY_TAKEN">E-mail занят.</span>
          <span *ngIf="NewPasswordForm.controls.email.errors.INVALID || NewPasswordForm.controls.email.errors.email">Введите корректный E-mail.</span>
        </ng-container>
      </p>

      <input type="text"
                class="auth-block__input"
                [ngClass]="{'auth-block__input--error': NewPasswordForm.controls.code.invalid && (NewPasswordForm.controls.code.dirty || NewPasswordForm.controls.code.touched)}"
                autocomplete="null"
                formControlName="code"
                name="code"
                placeholder="Код">
      <p class="auth-block__hint auth-block__hint--error">
          <ng-container *ngIf="NewPasswordForm.controls.code.invalid && (NewPasswordForm.controls.code.dirty || NewPasswordForm.controls.code.touched)">
            <span *ngIf="NewPasswordForm.controls.code.errors.required">Поле обязательно к заполнению.</span>
            <span *ngIf="NewPasswordForm.controls.code.errors.wrong">Неправильный код подтверждения.</span>
          </ng-container>
      </p>

      <input type="password"
             class="auth-block__input"
             [ngClass]="{'auth-block__input--error': NewPasswordForm.controls.password.invalid && (NewPasswordForm.controls.password.dirty || NewPasswordForm.controls.password.touched)}"
             autocomplete="null"
             formControlName="password"
             name="password"
             placeholder="Пароль">
      <p class="auth-block__hint auth-block__hint--error">
        <ng-container *ngIf="NewPasswordForm.controls.password.invalid && (NewPasswordForm.controls.password.dirty || NewPasswordForm.controls.password.touched)">
          <span *ngIf="NewPasswordForm.controls.password.errors.required">Поле обязательно к заполнению.</span>
          <span *ngIf="NewPasswordForm.controls.password.errors.minlength">Минимальная длина пароля 7 символов.</span>
          <span *ngIf="NewPasswordForm.controls.password.errors.maxlength">Максимальная длина пароля 50 символов.</span>
        </ng-container>
      </p>

      <input type="password"
             class="auth-block__input"
             [ngClass]="{'auth-block__input--error': NewPasswordForm.controls.password_confirmation.invalid && (NewPasswordForm.controls.password_confirmation.dirty || NewPasswordForm.controls.password_confirmation.touched)}"
             autocomplete="null"
             formControlName="password_confirmation"
             name="password_confirmation"
             placeholder="Подтвердите пароль">
      <p class="auth-block__hint auth-block__hint--error">
        <ng-container *ngIf="NewPasswordForm.controls.password_confirmation.invalid && (NewPasswordForm.controls.password_confirmation.dirty || NewPasswordForm.controls.password_confirmation.touched)">
          <span *ngIf="NewPasswordForm.controls.password_confirmation.errors.required">Поле обязательно к заполнению.</span>
          <span *ngIf="NewPasswordForm.controls.password_confirmation.errors.minlength">Минимальная длина пароля 7 символов.</span>
          <span *ngIf="NewPasswordForm.controls.password_confirmation.errors.maxlength">Максимальная длина пароля 50 символов.</span>
          <span *ngIf="NewPasswordForm.controls.password_confirmation.errors.not_match">Пароли не совпадают.</span>
        </ng-container>
      </p>

      <div class="text-center">
        <button class="button auth-block__button"
                type="submit">Восстановить пароль</button>
      </div>
    </form>

  </div>
  <div class="auth-block auth-block--reset2"
       *ngIf="IsSendSuccess">
    <!-- <span class="auth-block__close"
          routerLink="../login"></span> -->

    <p class="auth-block__title auth-block__title--reset">Код для восстановления пароля выслан на почту</p>
    <p class="auth-block__text">Пожалуйста, проверьте свой почтовый ящик</p>

    <div class="text-center">
      <button type="submit" (click)="ShowResetPwFormHandler()" class="button auth-block__button">Ок</button>
      <!-- <button routerLink="../login"
              class="button button--white auth-block__button auth-block__button--reg">Войти</button>
      <button routerLink="../signup"
              class="button auth-block__button auth-block__button--reg">Зарегистрироваться</button> -->
    </div>
  </div>
  <div class="auth-block auth-block--reset2"
    *ngIf="ResetSuccess">
    <span class="auth-block__close"
          routerLink="../login"></span>

    <p class="auth-block__title auth-block__title--reset">Пароль успешно изменен.</p>
    <div class="text-center">
      <button routerLink="../login"
        class="button auth-block__button">Войти</button>
    </div>
  </div>
</section>
