<div class="create-block customer__block">
    <p class="create-block__label create-block__label--bold">Введите данные покупателя</p>

    <p class="create-block__label create-block__label--light">Имя</p>
    <input type="text" class="create-block__input create-block__input--full">

    <p class="create-block__label create-block__label--light">Фамилия</p>
    <input type="text" class="create-block__input create-block__input--full">

    <p class="create-block__label create-block__label--light">Отчество</p>
    <input type="text" class="create-block__input create-block__input--full">

    <p class="create-block__label create-block__label--light">Номер карты</p>
    <input type="text" class="create-block__input create-block__input--full">

    <div class="customer__flex">
        <div class="customer__part">
            <p class="create-block__label create-block__label--light">Дата рождения</p>
            <span class="create-block__date-input customer__date">
              <input type="text" class="create-block__input create-block__input--date">
            </span>
        </div>
        <div class="customer__part">
            <p class="create-block__label create-block__label--light">Пол</p>

            <div class="auth-block__choice">
                <label class="radio">
                    <input type="radio" class="radio__input" name="userType" checked>
                    <div class="radio__text">Женский</div>
                </label>
                <label class="radio">
                    <input type="radio" class="radio__input" name="userType">
                    <div class="radio__text">Мужской</div>
                </label>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="button create-block__button">Сохранить</button>
    </div>
</div>
