<div class="page__content page__content--create">

    <div class="page__top page__top--create">
        <span class="page__back"><img src="assets/img/back.svg" alt="" (click)="GoBack()"></span>
        <h1 class="page__title page__title--create">{{Id == 'new' ? 'Создание' : 'Редактирование'}} акции</h1>
    </div>

    <div class="create-block">
        <form [formGroup]="Form" (ngSubmit)="Save()">
        <p class="create-block__label">Название акции</p>
        <!-- <input type="text" class="create-block__input create-block__input--full"> -->
        <input type="text" class="create-block__input create-block__input--full"
            [ngClass]="{'create-block__input--error': Form.controls.name.invalid && (Form.controls.name.dirty || Form.controls.name.touched)}"
            autocomplete="null"
            formControlName="name"
            placeholder="Введите название акции"
            name="name"
        >
        <p class="auth-block__hint auth-block__hint--error">
            <ng-container *ngIf="Form.controls.name.invalid && (Form.controls.name.dirty || Form.controls.name.touched)">
                <span *ngIf="Form.controls.name.errors.required">Поле обязательно к заполнению.</span>
                <span *ngIf="Form.controls.name.errors.minlength">Минимальная длина 3 символа.</span>
                <span *ngIf="Form.controls.name.errors.maxlength">Максимальная длина 30 символов.</span>
            </ng-container>
        </p>



        <div class="create-block__group">
            <p class="create-block__label">Срок действия</p>

            <div class="create-block__flex">
                <div class="create-block__half">
                    От

                    <span class="create-block__date-input">
                        <my-date-picker name="begin_date" [options]="myDatePickerOptions" formControlName="begin_date"
                        ></my-date-picker>
                    </span>
                </div>
                <div class="create-block__half">
                    До
                    <span class="create-block__date-input">
                        <my-date-picker name="end_date" [options]="myDatePickerOptions" formControlName="end_date"
                        ></my-date-picker>
                    </span>
                </div>
            </div>
        </div>

        <ng-container [formGroup]="FormLevel">
            <div class="create-block__group">
                    <p class="create-block__label">Правило начисления бонусов</p>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='no_accrual' name="accrual_rule" formControlName="accrual_rule">
                        <div class="radio__text">Не начисляются</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='accrual_percent' name="accrual_rule" formControlName="accrual_rule">
                        <div class="radio__text create-block__radio-with-input">
                            Начислять<span class="create-block__percent-input">
                                <input type="text"  formControlName="accrual_percent" name="accrual_percent" class="create-block__input create-block__input--small"
                                [ngClass]="{'create-block__input--error': FormLevel.controls.accrual_percent.invalid && (FormLevel.controls.accrual_percent.dirty || FormLevel.controls.accrual_percent.touched)}"
                            >
                            </span>
                            от суммы покупки
                        </div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='accrual_convert' name="accrual_rule" formControlName="accrual_rule">
                        <div class="radio__text create-block__radio-with-input">
                            За
                            <input type="text" 
                                formControlName="accrual_money"  
                                name="accrual_money" 
                                class="create-block__input create-block__input--small"
                                [ngClass]="{'create-block__input--error': FormLevel.controls.accrual_money.invalid && (FormLevel.controls.accrual_money.dirty || FormLevel.controls.accrual_money.touched)}"
                            >
                            рублей
                            <input type="text" formControlName="accrual_points" name="accrual_points" class="create-block__input create-block__input--small"
                                [ngClass]="{'create-block__input--error': FormLevel.controls.accrual_points.invalid && (FormLevel.controls.accrual_points.dirty || FormLevel.controls.accrual_points.touched)}"
                            >
                            бонусов
                        </div>
                    </label>
                </div>
        
                <div class="create-block__group">
                    <p class="create-block__label">Правило сгорания бонусов</p>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='no_burning' name="burning_rule" formControlName="burning_rule">
                        <div class="radio__text">Не сгорают</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='burning_days' name="burning_rule" formControlName="burning_rule">
                        <div class="radio__text create-block__radio-with-input">
                            Сгорают через
                            <input type="text" formControlName="burning_days" name="burning_days" class="create-block__input create-block__input--small"
                            [ngClass]="{'create-block__input--error': FormLevel.controls.burning_days.invalid && (FormLevel.controls.burning_days.dirty || FormLevel.controls.burning_days.touched)}"
                            >
                            дней после начисления
                        </div>
                    </label>
                </div>
        
                <div class="create-block__group">
                    <p class="create-block__label">Правило активации бонусов</p>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='activation_moment' name="activation_rule" formControlName="activation_rule">
                        <div class="radio__text">С момента начисления</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='activation_days' name="activation_rule" formControlName="activation_rule">
                        <div class="radio__text create-block__radio-with-input">
                            Через
                            <input type="text" formControlName="activation_days" name="activation_days" class="create-block__input create-block__input--small"
                            [ngClass]="{'create-block__input--error': FormLevel.controls.activation_days.invalid && (FormLevel.controls.activation_days.dirty || FormLevel.controls.activation_days.touched)}"
                            >
                            дней с момента начисления
                        </div>
                    </label>
                </div>
        
                <div class="create-block__group">
                    <p class="create-block__label">Правило предоставления скидки</p>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='no_accordance' name="accordance_rule" formControlName="accordance_rule">
                        <div class="radio__text">Не предоставляется</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='accordance_convert' name="accordance_rule" formControlName="accordance_rule">
                        <div class="radio__text create-block__radio-with-input">
                            При накоплении более
                            <input type="text" formControlName="accordance_points" name="accordance_points" class="create-block__input create-block__input--small"
                            [ngClass]="{'create-block__input--error': FormLevel.controls.accordance_points.invalid && (FormLevel.controls.accordance_points.dirty || FormLevel.controls.accordance_points.touched)}"
                            >
                            бонусов предоставить скидку в размере
                            <span class="create-block__percent-input">
                                <input type="text" formControlName="accordance_percent" name="accordance_percent" class="create-block__input create-block__input--small"
                                [ngClass]="{'create-block__input--error': FormLevel.controls.accordance_percent.invalid && (FormLevel.controls.accordance_percent.dirty || FormLevel.controls.accordance_percent.touched)}"
                            >
                            </span>
                        </div>
                    </label>
                </div>
        
                <div class="create-block__group">
                    <p class="create-block__label">Округление бонусов</p>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='no_rounding' name="rounding_rule" formControlName="rounding_rule">
                        <div class="radio__text">Не округлять</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='rounding_math' name="rounding_rule" formControlName="rounding_rule">
                        <div class="radio__text">Математически</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='rounding_small' name="rounding_rule" formControlName="rounding_rule">
                        <div class="radio__text">До целых в меньшую сторону</div>
                    </label>
                    <label class="radio radio--create">
                        <input type="radio" class="radio__input" value='rounding_big' name="rounding_rule" formControlName="rounding_rule">
                        <div class="radio__text">До целых в большую сторону</div>
                    </label>
                </div>
        
                <div class="create-block__group">
                    <p class="create-block__label">Дополнительные настройки</p>
                    <label class="radio radio--create">
                        <input type="checkbox" class="radio__input" name="accrual_on_points" formControlName="accrual_on_points">
                        <div class="radio__text">Не начислять бонусы, если при оплате производится списание бонусов</div>
                    </label>
                </div>
        </ng-container>
        
        

        <div class="text-center">
            <button type="submit" class="button create-block__button">Сохранить</button>
        </div>
        </form>
    </div>

</div>