<section class="login-bg">
  <div class="auth-block">
    <p class="auth-block__title">Выберите компанию</p>

    <div class="create-block__select customer__select"
         [ngClass]="{'create-block__select--opened': ShowSelect}">
      <div class="create-block__select-value"
           (click)="ShowSelect = !ShowSelect">{{SelectedCompany ? SelectedCompany.name : 'Выберите компанию'}}</div>
      <ul class="create-block__select-list">
        <ng-container *ngFor="let company of Companies">
          <li (click)="OnSelected(company)"
              class="promotion-item">
            {{company.name}}
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="text-center">
      <button [disabled]="!SelectedCompany"
              class="button auth-block__button"
              (click)="SelectCompany()">Выбрать</button>
    </div>
  </div>
</section>
