<section class="page__content-wrap">
  <div class="page__content">

    <div class="page__top page__top--create">
      <span class="page__back"><img src="./../../../../../assets/img/back.svg"
            (click)="GoBack()"></span>
      <h1 class="page__title page__tile--above-content">Вконтакте</h1>
    </div>

    <div class="create-block">
      <p class="create-block__label">Введите id сообщества</p>
      <input type="text"
            placeholder=""
            class="create-block__input create-block__input--full">

      <div class="search-customer search-id">
        <input type="text"
              placeholder="https://vk.com/f639grp">
        <button class="search-id-button">Копировать ссылку</button>
      </div>

      <div class="text-block-instructions">
        <p>
          1. Зайдите в настройки сообщества
        </p>
        <p>
          2. Выберите «Работа с API»
        </p>
        <p>
          3. Выберите «Callback API»
        </p>
        <p>
          4. Скопируйте ссылку ссылку полученую выше и вставте в сообществе в поле «Адрес»
        </p>
        <p>
          5. Скопируйте в сообществе строку, которую должен вернуть сервер и введите его в поле ниже
        </p>
      </div>

      <p class="create-block__label">Код</p>
      <input type="text"
            placeholder=""
            class="create-block__input create-block__input--full">

      <div class="customer__flex-buttons">
        <button class="button customer__button">Сохранить</button>
      </div>
    </div>

    <div class="create-block">
      <p class="create-block__label">Правило начисления бонусов</p>
      <div class="create-block__group">

        <label class="radio radio--create">
          <input type="radio"
                class="radio__input"
                name="programmBonusAdd"
                checked>
          <div class="radio__text create-block__radio-with-input">
            Начислять <input type="text"
                  class="create-block__input create-block__input--small">бонусов за Подписку на сообщество
          </div>
        </label>
        <label class="radio radio--create">
          <input type="radio"
                class="radio__input"
                name="programmBonusAdd">
          <div class="radio__text create-block__radio-with-input">
            Начислять <input type="text"
                  class="create-block__input create-block__input--small"> бонусов за Лайки постов сообщества
          </div>
        </label>
        <label class="radio radio--create">
          <input type="radio"
                class="radio__input"
                name="programmBonusAdd">
          <div class="radio__text create-block__radio-with-input">
            Начислять <input type="text"
                  class="create-block__input create-block__input--small"> бонусов за Репосты постов в сообществе
          </div>
        </label>
        <label class="radio radio--create">
          <input type="radio"
                class="radio__input"
                name="programmBonusAdd">
          <div class="radio__text create-block__radio-with-input">
            Начислять <input type="text"
                  class="create-block__input create-block__input--small"> бонусов за Комментарии постов в сообществе
          </div>
        </label>

      </div>

      <div class="customer__flex-buttons">
        <button class="button customer__button">Сохранить</button>
      </div>
    </div>
  </div>
</section>
