<section class="page__content-wrap">
  <div class="page__content">

    <div class="page__top page__top--create">
      <span class="page__back"><img src="./../../../../../assets/img/back.svg"
             (click)="GoBack()"></span>
      <h1 class="page__title page__tile--above-content">Вконтакте</h1>
    </div>

    <div class="create-block">
      <form [formGroup]="CreateGroupForm"
            (ngSubmit)="Create()">

        <p class="create-block__label">Введите id сообщества</p>
        <input type="text"
               [ngClass]="{'create-block__input--error': group_id.invalid && (group_id.dirty || group_id.touched)}"
               formControlName="group_id"
               class="create-block__input create-block__input--full">

        <p class="auth-block__hint auth-block__hint--error">
          <ng-container *ngIf="group_id.invalid && (group_id.dirty || group_id.touched)">
            <span *ngIf="group_id.errors.required">Поле обязательно к заполнению.</span>
          </ng-container>
        </p>

        <div class="search-customer search-id">
          <input type="text"
                 disabled
                 style="text-overflow: ellipsis; width: 81%"
                 placeholder="{{CallbackAPILink}}">
          <button (click)="CopyLink($event)"
                  class="search-id-button">Копировать ссылку</button>
        </div>

        <div class="text-block-instructions">
          <p>
            1. Зайдите в настройки сообщества
          </p>
          <p>
            2. Выберите «Работа с API»
          </p>
          <p>
            3. Выберите «Callback API»
          </p>
          <p>
            4. Скопируйте ссылку ссылку полученую выше и вставте в сообществе в поле «Адрес»
          </p>
          <p>
            5. Скопируйте в сообществе строку, которую должен вернуть сервер и введите его в поле ниже
          </p>
        </div>

        <p class="create-block__label">Код</p>
        <input type="text"
               [ngClass]="{'create-block__input--error': confirmation_code.invalid && (confirmation_code.dirty || confirmation_code.touched)}"
               formControlName="confirmation_code"
               class="create-block__input create-block__input--full">
        <p class="auth-block__hint auth-block__hint--error">
          <ng-container *ngIf="confirmation_code.invalid && (confirmation_code.dirty || confirmation_code.touched)">
            <span *ngIf="confirmation_code.errors.required">Поле обязательно к заполнению.</span>
          </ng-container>
        </p>

        <p style="margin-bottom: 16px;"></p>

        <p class="create-block__label">Правило начисления бонусов</p>
        <div class="create-block__group">
          <label class="radio radio--create">
            <input type="radio"
                   formControlName="checked_radio_value"
                   value="group_join_points"
                   class="radio__input"
                   checked>
            <div class="radio__text create-block__radio-with-input">
              Начислять <input type="text"
                     formControlName="group_join_points"
                     [attr.disabled]="checked_radio_value.value !== 'group_join_points' ? '' : null"
                     [ngClass]="{'create-block__input--error': group_join_points.invalid && (group_join_points.dirty || group_join_points.touched)}"
                     class="create-block__input create-block__input--small">бонусов за Подписку на сообщество
            </div>
          </label>
          <label class="radio radio--create">
            <input type="radio"
                   formControlName="checked_radio_value"
                   value="wall_like_points"
                   class="radio__input">
            <div class="radio__text create-block__radio-with-input">
              Начислять <input type="text"
                     formControlName="wall_like_points"
                     [attr.disabled]="checked_radio_value.value !== 'wall_like_points' ? '' : null"
                     [ngClass]="{'create-block__input--error': wall_like_points.invalid && (wall_like_points.dirty || wall_like_points.touched)}"
                     class="create-block__input create-block__input--small"> бонусов за Лайки постов сообщества
            </div>
          </label>
          <label class="radio radio--create">
            <input type="radio"
                   formControlName="checked_radio_value"
                   value="wall_repost_points"
                   class="radio__input">
            <div class="radio__text create-block__radio-with-input">
              Начислять <input type="text"
                     formControlName="wall_repost_points"
                     [attr.disabled]="checked_radio_value.value !== 'wall_repost_points' ? '' : null"
                     [ngClass]="{'create-block__input--error': wall_repost_points.invalid && (wall_repost_points.dirty || wall_repost_points.touched)}"
                     class="create-block__input create-block__input--small"> бонусов за Репосты постов в сообществе
            </div>
          </label>
          <label class="radio radio--create">
            <input type="radio"
                   formControlName="checked_radio_value"
                   value="wall_reply_points"
                   class="radio__input">
            <div class="radio__text create-block__radio-with-input">
              Начислять <input type="text"
                     formControlName="wall_reply_points"
                     [attr.disabled]="checked_radio_value.value !== 'wall_reply_points' ? '' : null"
                     [ngClass]="{'create-block__input--error': wall_reply_points.invalid && (wall_reply_points.dirty || wall_reply_points.touched)}"
                     class="create-block__input create-block__input--small"> бонусов за Комментарии постов в сообществе
            </div>
          </label>
        </div>

        <p style="margin-bottom: 16px;"></p>

        <div class="text-center">
          <button class="button customer__button">Сохранить</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="ModalIsShown"
       class="modal modal--visible">
    <div class="modal__block modal__block--bonuses">
      <span class="modal__close"><img (click)="onCloseModal()"
             src="./../../../../../assets/img/close.svg"></span>
      <div class="modal__customer-content modal__customer-content-bonuses-inside">
        <p class="bonuses-text text-center">Успешно сохранено</p>
      </div>
    </div>
  </div>
</section>
