<section class="page__content-wrap">
  <span class="page__content customer__screen">
    <div [routerLink]="['../create']" class="customer__item customer__item--green">
        <img src="./../../../../assets/img/plus-green.svg" alt="">
        <span>Создать покупателя</span>
    </div>

    <div [routerLink]="['../edit']" class="customer__item customer__item--yellow">
        <img src="./../../../../assets/img/refresh.png" alt="">
        <span>Операции с покупателем</span>
    </div>
  </span>
</section>
