<section class="page__content-wrap">
  <span *ngIf="!IsDeletedUser" class="page__content customer__screen">
    <div [routerLink]="['../create']" class="customer__item customer__item--green">
        <img src="./../../../../assets/img/plus-green.svg" alt="">
        <span>Создать покупателя</span>
    </div>

    <div [routerLink]="['../edit']" class="customer__item customer__item--yellow">
        <img src="./../../../../assets/img/refresh.png" alt="">
        <span>Операции с покупателем</span>
    </div>

  </span>
  <p *ngIf="!HasStore" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #000; color: white; padding: 20px 30px;"
  >У Вас не указан магазин, к которому Вы относитесь. Обратитесь к администратору.</p>

  <p *ngIf="IsDeletedUser" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #000; color: white; padding: 20px 30px;"
  >Вы не имеете права доступа. Обратитесь к администратору.</p>


</section>
